name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Build
        run: |
          yarn install --frozen-lockfile
          git remote set-url origin https://x-access-token:$GITHUB_TOKEN@github.com/stackworx/formik-material-ui.git
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Pages Action"
          yarn deploy
        working-directory: docs
